<head>
	<title>{% t site.title %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ site.baseurl_root}}/assets/css/main.css">
    <script language="javascript" type="text/javascript" src="{{site.baseurl_root}}/assets/js/p5.js"></script>
    <script language="javascript" src="{{site.baseurl_root}}/assets/js/p5.dom.js"></script>
    <script language="javascript" type="text/javascript" src="{{site.baseurl_root}}/assets/js/sketch.js"></script>
    <style> body {padding: 0; margin: 0;} </style>

</head>
