<section id="one" class="tiles">
  {% for post in site.posts limit:site.tiles-count %}
  {% if site.tiles-source == 'posts' %}
  <article>
    <span class="image">
        <img src="{{site.baseurl_root}}/{{ post.image }}" alt="" />
    </span>
    <header class="major">
        <h3><a href="{{ site.baseurl_root}}/{{post.url}}" class="link">{% t post.title %}</a></h3>
      <p>{% t post.description %}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
  {% for page in site.pages limit:site.tiles-count %}
  {% if site.tiles-source == 'pages' and page.show_tile != false %}
  <article>
    <span class="image">
      <img src="{{site.baseurl_root}}/{{ page.image }}" alt="" />
    </span>
    <header class="major">
        <h3><a href="{{aite.baseurl_root}}/{{page.url}}" class="link">{% t page.title %}</a></h3>
      <p>{% t page.description %}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
</section>
